page-home {
    .login-back{
        background-image: url("../../assets/imgs/city-crossroad-with-traffic-lights-vector-19713602.jpg");
        background-repeat:no-repeat;
      background-size:cover;
     
    
    }
    .container{
        margin-top:187px;
        height:600px;
        
         margin-bottom: 0px;
         background-color: #0206074d;
       opacity:.9;
    
    }
 
    .log{
     padding-top:15px;
        text-align: center;
        font-size: 30px;
        color:rgb(255, 255, 255);
    }
    .line{
        margin-top:-22px;
        margin-left:99px;
        margin-right:99px;
        border-bottom: 2px solid rgb(240, 240, 240);
        margin-bottom:25px;
       }
    
       input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
      
       
    }
    label {
        display:inline-block;
        background-color: rgb(247, 166, 60);
        font-weight: 1000;
        width:92px;
        height:48px;
      font-size:1.2em;
        padding:12px;
        white-space:nowrap;
     margin-left:36px;
     border-radius: 4px;
    
      }
    
       input[type=text] {
        display:inline-block;
           margin-top:49px;
        height:51px;
        width:282px;
        padding-left:35px;
        border-radius: 4px;
        margin-left:-5px;
        margin-bottom:40px;
        // border-bottom:4px solid rgb(3, 1, 0);
    }

    input[type=password] {
        height:51px;
        width:282px;
        padding-left:35px;
        border-radius: 4px;
        margin-left:-5px;
        margin-bottom:5px;
        // border-bottom:4px solid rgb(0, 0, 0);
    }

    
    // .icon-email{
    //     display: inline-block;
    //     margin-left:10px;
    //     margin-right:-10px;
    //   font-size: 40px;
    // color:rgb(255, 210, 9);
    // }

//     .form-input::before{
//       content: "\f007";
//         position: absolute;
// font-size:35px;
//         padding-left:5px;
//         padding-top:5px;
//     }
    .button {
        background-color: rgba(12, 240, 229, 0.514);
        color: rgb(255, 255, 255);
        padding: 14px 20px;
        font-size: 20px;
     margin-top:45px;
        border: 1px solid rgb(1, 87, 87);
        box-shadow:5px 5px 0 0 rgb(1, 87, 87);
        margin-left:10px;
        width: 94%;
    }
    .button:active{
        box-shadow:10px 10px 0 0 rgb(1, 87, 87);
    }
    
}
