page-home {

.masters{
    background-image: url("https://wallpapershome.com/images/pages/pic_v/11926.jpg");
    opacity:.9;
}
.page-name{
    margin-top:17px;
    margin-left:171px;
    font-size:2.3em;
    color:white;

}
 p{

    font-size:.61em;
}
.heading{

    font-size: 1.7em;
    color:white;
}

    ion-card {
      position: relative;
      text-align: center;

      padding:10px;
      height:207px;
    }
    .cards{
        background-color: rgba(248, 248, 248, 0.171);

    }

    .card-title {
      position: absolute;
      top: 30%;
      margin-left:-5px;
      font-size: 1.75em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      position: relative;
      top: 60%;
      width: 100%;


      font-size:24px;
      color: rgb(136, 17, 33);
    }
    .card-subtitle h2{
        display: inline-block;
        margin-left:10px;
        font-size:.8em;
        font-weight:500;
        color:rgb(104, 102, 102);
    }
    .card-title:active{
        border-bottom:2px solid white;

    }

}
